.jumbotron{
    background-color: blue;
    color: cornsilk;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:blue;
    color:cornsilk;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-tienda{
    flex: 1 200px ;
    margin-top: 10px;
}

.btn-shop {
    width: 100%;
    border-radius: 0%;
   }

.footer-addres-icon{
    padding-right:10px;
}
.tab-content{
    padding-top: 10px;
}

a{
    color: cornsilk;
    text-decoration: none;
}
