.jumbotron {
  background-color: #2486d9;
  color: cornsilk;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #2486d9;
  color: cornsilk;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-tienda {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-shop {
  width: 100%;
  border-radius: 0%; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
