@yellow: #2486d6;

.margenes (@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
    
}

.jumbotron {
    background-color: @yellow;
    color: cornsilk;
    .margenes(50px, 0px)
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    color: cornsilk;
    .margenes(10px, 0px)}
  
  .card-tienda {
    flex: 1 200px;
  .margenes(10px, 0px) }
  
  .btn-shop {
    width: 100%;
    border-radius: 0%; }
  
  .footer-addres-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  